<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Participer à Espoir RIC 2022</title>
    </head>
    <body>
        <p>Bonjour {username}, <br>
        <br>
        Et merci de nous rejoindre dans cette superbe aventure vers la liberté démocratique !
        Raul Magni-Berton, notre directeur de campagne, organise une réunion d'accueil des nouveaux bénévoles d'Espoir RIC les mardis soirs à 20h30 sur Jitsy.
        J'ai vu que vous aviez rempli le formulaire pour aider Clara EGGER à {activity}. C'est génial ! Merci.</p>
        {templates-for-activities}
        <p>A bientôt et merci encore de contribuer à la campagne de Clara et à la plus grande évolution démocratique depuis 200 ans !<br>
        <br>
        Etienne<br>
        <br>
        PS: Pour se renseigner d'avantage sur le RIC et la démocratie directe :<br>
        <a href="https://www.youtube.com/c/EspoirRIC2022/playlists" title="Emissions de Clara et ses interviews dans les médias">Emissions de Clara et ses interviews dans les médias</a><br>
        <a href="https://www.youtube.com/playlist?list=PLN0pu2SeOoLb4D0OGKbQqGmOHwMbgy2RI" title="">Playlist Youtube sur la démocratie semi-directe en Suisse</a><br>
        <a href="https://bit.ly/3jHKwRn" title="">Livre de Clara EGGER</a><br>
        <a href="https://www.amazon.fr/r%C3%A9f%C3%A9rendum-dinitiative-citoyenne-Linstaurer-pr%C3%A9server/dp/2322122017#:~:text=Amazon.fr%20%2D%20Le%20r%C3%A9f%C3%A9rendum%20d,Bruchez%2C%20Pierre%2DAlain%20%2D%20Livres" title="">Livre Pierre-Alain BRUCHEZ</a><br>
    </body>
</html>