<p>Quelle(s) équipe(s) aimeriez-vous rejoindre ?<br>
 <br>
Dans toutes ces équipes, AUCUNE CONNAISSANCE N'EST REQUISE, juste la volonté d'agir. On vous expliquera comment faire pas à pas.<br>
 <br>
Equipe Parrainage (c'est évidemment avec les parrainages que l'on a besoin le plus d'aide)<br>
- Appeler les mairies pour prendre rendez-vous OU se déplacer directement dans les mairies<br>
- Faire les rendez-vous avec le maire<br>
Cela nécessite d'être disponible au moins 1 à 2 heures par semaine entre 9h-1 et 14h-16h du lundi au vendredi<br>
 <br>
Equipe Médias<br>
- Rechercher les contacts personnalisés des journalistes politiques de la presse nationale et régionale (télés, radios, journaux), des gros Youtubers<br>
- Contacter ses personnes, leurs envoyer des communiqués de presse et leur proposer des idées de sujet<br>
- Organiser les interventions média de Clara et des autres membres de l'équipe de campagne<br>
 <br>
Equipe Partenariat<br>
- contacter d'autres candidats pour qu'ils intègrent le RIC et le calendrier tels que proposés par Espoir RIC<br>
- contacter des associations, groupes, collectifs, "think tanks" pour leur présenter le programme de Clara EGGER et comment ils pourraient bénéficier du RIC pour leur cause<br>
 <br>
Equipe Réseaux Sociaux<br>
- Commenter les publications sur les réseaux sociaux (<a href="https://www.facebook.com/espoirRIC">Facebook</a>, <a href="https://www.instagram.com/espoirric2022/?hl=fr">Instagram</a>, <a href="https://twitter.com/espoirRIC2022">Twitter</a>, <a href="https://www.linkedin.com/in/espoir-ric2022/">Linkedin</a>, <a href="https://t.me/espoirRIC2022">Telegram</a>, <a href="https://discord.gg/Hsfg3f9cfp">Discord</a>, <a href="https://www.tiktok.com/@espoirric2022">TikTok</a>, <a href="https://www.youtube.com/c/EspoirRIC2022">Youtube</a>, <a href="https://peertube.stream/c/espoir_ric_2022/videos">PeerTube</a>) ET les partager sur son compte personnel ET sur des groupes importants<br>
- Citer chaque jour CLARA EGGER en réponse à des commentaires sur d'autres pages/chaînes/comptes de réseaux sociaux.<br>
J'aime bien mettre en commentaire d'un article ou d'une vidéo, un truc du genre :<br>
"La meilleure solution à tous ces problèmes est que les citoyens prennent le pouvoir en instaurant une démocratie directe telle qu'elle existe en Suisse. C'est le projet de Clara EGGER et Espoir RIC à la présidentielle. Venez nous aider svp !!! Si vous voulez que cela change, rejoignez Espoir RIC, on a besoin de votre aide."<br>
- Modérer les commentaires sur les réseaux sociaux (mission qui demande une bonne connaissance du programme... et une bonne orthographe !)<br>
 <br>
Equipe Communication<br>
- chargé de mission newsletter<br>
- monteur vidéo<br>
- création de contenu<br>
 <br>
Equipe Actions de Terrain<br>
- organiser des sondages/pétitions/votations dans une commune pour inciter le maire à recevoir et parrainer Espoir RIC<br>
 <br>
Equipe Recrutement de Volontaires<br>
 <br>
Toute autre initiative est la bienvenue</p>
