<p>L'objectif de l'équipe média est d'obtenir des articles, interviews, entretiens débats dans la presse et les médias Internet.<br>
Pour cela, il nous faut d'abord trouver les contacts directs (Email, Tel...) :<br>
-  de journalistes politiques de médias nationaux et régionaux (télés, radios, journaux)<br>
- de grosses chaînes Youtube qui traitent de politique<br>
 <br>
Votre première mission : trouver les coordonnées de 3 journalistes politiques ou chaînes Youtube. Dès que vous en auras trouvé 3, envoyez-les nous et vous débloquerez votre deuxième mission et votre tableau de bord :-)<br>
<br>
Quelques techniques :<br>
- <a href="http://panorama.alliance-journalistes.net/bdf/fr/item/item-21.html">Trouver les coordonnées professionnelles des journalistes à la fin des articles</a><br>
- Appeler le média et demander l'email d'un journaliste politique<br>
- Dans la rubrique « Contact » ou bien dans l’Ours (encart regroupant tous les contacts) du magazine/journal en question.<br>
- LinkedIn<br>
- Les emails sont souvent sous le même format : nom.prénom@media.com, prénom@media.com, pNom@media.com, etc. <br>
- Utiliser <a href="http://hunter.io/">hunter.io</a>. Un tool assez magique. Taper dans la barre de recherche le nom du média et l’outil vous indiquera les modèles utilisés.<br>
- <a href="https://www.google.com/search?q=comment+trouver+les+emails+des+journalistes&oq=comment+trouver+les+emails">Recherche sur Google des trucs du genre "Comment trouver l'email de journalistes"</a><br>
- On peut parfois trouver l'adresse email d'une chaîne Youtube en allant dans l'onglet À PROPOS</p>
