<p>L'objectif de l'équipe est de former des partenariats avec des associations qui pourraient bénéficier du RIC, des personnalités, d'autres candidats à la présidentielle, des partis politiques ou tout autre groupe de personnes.<br>
Un partenariat peut prendre différentes formes, par exemple :<br>
- Ils organisent une réunion/débat/échange avec nous sur le sujet du RIC Constituant<br>
- ET/OU ils communiquent sur le RIC (lien vers la pétition sur leur site)<br>
- ET/OU ils ajoutent la modification de l'article 89 à leur revendication<br>
- ET/OU ils soutiennent la candidature de Clara EGGER (logo/lien vers <a href="http://espoir-ric.fr/">espoir-ric.fr</a> sur leur site)<br>
 <br>
Pouvez-vous svp répondre aux questions ci-dessous?<br>
 <br>
a) Souhaitez-vous nous aider à former UN ou PLUSIEURS partenariats ?<br>
 <br>
b) Faites-vous parti ou connaissez-vous personnellement : un candidat, un parti politique, une personnalité, un groupe, ou une association qui pourraient bénéficier du RIC ?<br>
 <br>
c) Quel partenaire potentiel souhaitez-vous contacter en premier ? Si vous n'avez pas d'idée, voici une première <a href="https://fr.wikipedia.org/wiki/Liste_d%27associations_fran%C3%A7aises_reconnues_d%27utilit%C3%A9_publique">liste d'association</a>.<br>
 <br>
Vous trouverez, en bas de cet email, un modèle de courrier à adresser à une association. Libre à vous de le modifier à votre guise.<br>
 <br>
Commencez dès maintenant ! Contactez un premier partenaire possible et tenez-nous au courant de votre avancement.<br>
 <br>
N'hésitez pas à contacter Pierre-Alain (democratiedabord@protonmail.com) si vous avez besoin d'aide. Il est en charge du pôle Partenariat.<br>
 <br>
MODÈLE (n’hésitez pas le modifier comme bon vous semble)<br>
Bonjour,<br>
 <br>
Vous luttez avec ferveur pour votre cause. Les jeux sont toutefois pipés en votre défaveur.
Si seulement le peuple pouvait décider lui-même ! Vous pensez pouvoir obtenir le soutien
d’une majorité de citoyens ? Dans ce cas, vous avez tout intérêt à ajouter l’exigence
suivante à votre revendication centrale : donner le pouvoir au peuple. Si tous les
mouvements tels que le vôtre ajoutent cette revendication, alors les chances de succès
augmenteront considérablement.<br>
 <br>
La plus modeste réforme qui donne le pouvoir au peuple, c’est l’instauration du référendum
d’initiative citoyenne (RIC) constituant qui permet à des citoyens de soumettre au
référendum leur proposition de modification de la Constitution sur le sujet de leur choix. Les
citoyens pourraient ainsi prendre en main leur destin collectif en instaurant eux-mêmes
d’autres RICs (par exemple pour modifier les lois ordinaires) et en fixant les grands axes
politiques. Que chaque mouvement lutte pour ce qu’il juge prioritaire, tout en défendant le
RIC constituant qui facilitera sa propre lutte en donnant le pouvoir au peuple.<br>
 <br>
Clara EGGER, la candidate d’Espoir-RIC à la présidentielle 2022, a pour unique objectif de
donner le pouvoir aura peuple en instaurant le RIC constituant et en rendant impossible de
modifier la Constitution sans référendum (un tel système fonctionne en Suisse). Son
approche, qui pourrait être reprise par d’autres candidats, est particulièrement crédible, car ;
i) elle porte sur un texte précis (qui peut certes encore évoluer, mais sera fixé avant les
élections : nouvel article 89 de la Constitution), ii) le décret organisant le référendum pour
l’adoption de ce nouvel article 89 sera promulgué avant les législatives de sorte que le
peuple puisse immédiatement sanctionner un manquement à la promesse (calendrier), et
c’est la première promesse (en fait, même l’unique dans le cas de Clara) de sorte à
dissuader le Conseil constitutionnel d’empêcher la tenue du référendum pour modifier
l’article 89 (même si l’article 61 de la Constitution actuelle ne prévoit pas que le Conseil
constitutionnel se prononce sur les projets émanant de l’exécutif, mais uniquement sur les
propositions provenant du parlement). Vous pouvez en apprendre davantage sur le site
d’Espoir RIC : https://www.espoir-ric.fr/. Tout ceci peut paraître compliqué et éloigné de vos
préoccupations. Je vous préciserai très volontiers ces points et vous comprendrez que cette
démarche finalement relativement simple est cruciale pour votre lutte.<br>
 <br>
Pour porter au premier tour de la présidentielle le thème de la démocratie et dénoncer les
candidats qui répondent aux aspirations démocratiques par des promesses peu crédibles ou
portant sur de faux RICs, Clara a besoin d’un large soutien. Etant non-partisane et focalisée
uniquement sur la démocratie, sa candidature ne peut pas entrer en contradiction avec vos
revendications, alors que son succès faciliterait votre lutte. A vos revendications, vous
pourriez ajouter la démocratie sous forme d’instauration du RIC constituant conformément
au nouvel article 89 proposé par Clara EGGER.<br>
 <br>
Accepteriez-vous un entretien pour répondre à vos éventuelles questions et discuter
le cas échéant de l’intégration de la démocratie dans vos revendications (présentation
de cette problématique à vos membres, etc.) ?<br>
 <br>
Vous souhaitant le meilleur et espérant votre soutien,</p>
