<p>1/ D'abord, je vous invite à rejoindre notre groupe d'action Réseaux Sociaux sur WhatsApp :<br>
https://chat.whatsapp.com/FJnxIuUZALQ9oq8UpcSYDZ<br>
Si vous ne vouez pas utiliser WhatsApp, vous pouvez aussi vous abonner au canal Publications du <a href="https://www.espoir-ric.fr/discord">Discord d'Espoir RIC</a>.<br>
 <br>
2/ Voici quelques idées de choses à faire pour nous aider à diffuser le message de Clara sur les réseaux.<br>
 <br>
a) Commenter les publications sur les réseaux sociaux que vous utilisez déjà (<a href="https://www.facebook.com/espoirRIC">Facebook</a>, <a href="https://www.instagram.com/espoirric2022/?hl=fr">Instagram</a>, <a href="https://twitter.com/espoirRIC2022">Twitter</a>, <a href="https://www.linkedin.com/in/espoir-ric2022/">Linkedin</a>, <a href="https://t.me/espoirRIC2022">Telegram</a>, <a href="https://discord.gg/Hsfg3f9cfp">Discord</a>, <a href="https://www.tiktok.com/@espoirric2022">TikTok</a>, <a href="https://www.youtube.com/c/EspoirRIC2022">Youtube</a>, <a href="https://peertube.stream/c/espoir_ric_2022/videos">PeerTube</a>)<br>
ET les partager sur son compte personnel<br>
ET sur des groupes importants<br>
 <br>
b) Citer CLARA EGGER en réponse à des commentaires sur d'autres pages/chaînes/comptes de réseaux sociaux.<br>
J'aime bien mettre en commentaire d'un article ou d'une vidéo, un truc du genre :<br>
"La meilleure solution à tous ces problèmes est que les citoyens prennent le pouvoir en instaurant une démocratie directe telle qu'elle existe en Suisse. C'est le projet de Clara EGGER et Espoir RIC à la présidentielle. Venez nous aider svp !!! Si vous voulez que cela change, rejoignez Espoir RIC, on a besoin de votre aide."<br>
 <br>
c) D'autres idées ?<br>
 <br>
 <br>
Vous pouvez commencer dès maintenant !</p>
