<p>Pouvez-vous s'il vous plaît compléter <a href="https://forms.gle/Cx8zquiwe49pgDW28" title="ce deuxième formulaire">ce deuxième formulaire</a> pour que l'on puisse que vous donner accès à toutes les infos dont vous aurez besoin pour obtenir des parrainages  ?<br>
<br>
Désolé pour la bureaucratie :-( après c'est fini :-)<br>
<br>
Aussi, nous avons une réunion d'accueil pour les nouveaux de l'équipe parrainage mercredi à 21h sur Discord. Complétez le formulaire et on vous expliquera comment accéder à la réunion.</p>
